@charset"UTF-8";
@font-face {
    font-family: 'font1';
    src: url('font/Always\ Smile.otf') format('OpenType');
}

@font-face {
    font-family: 'font2';
    src: url('font/Saudagar.ttf') format('TrueType');
}

:root {
    --cor1: #1720FD;
    --cor2:#1453E3;
    --cor3:#239DFA;
    --cor4:#14C0E3;
    --cor5:#17FDE6;
}

body{
    margin: 0px;
    background-color: #000000;
}

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor5));
    color: white;
    font: normal 60px 'font1', Georgia, Times, serif;
    padding: 10px;
}

p{
    text-align: center;
    text-indent: 50px;
    padding: 0px;
    margin: 0px;
}

main{
    font: normal 25px 'font2', Arial, sans-serif;
    margin: auto;
    max-width: 100%;
    min-width: 300px;
    color: #ffffff; 
}

main > p {
    background-color: var(--cor4);
    margin-top: 20px;
    border-radius: 20px 0px;
    padding: 15px;
    max-width: 700px;
    min-width: 300px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.square{
    width: 250px;
    height: 40px;
    background-color: var(--cor3);
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

.square:hover{
    width: 350px;
    transition-duration: 1s;
}

a{
    text-decoration: none;
    font: normal 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: justify;

}

nav{
    background: #ffffff url('img/background01r.jpg') bottom center no-repeat scroll;
    background-size: cover;
    padding: 70px 30px;
    margin: auto;
}

footer{
    font: normal 'font2' Arial, sans-serif;
    color: white;
    position: static;
    margin-top: 20px;
    padding: 30px;
}

footer > p {
    font-size: 16px;
    letter-spacing: 2px;
}

